 button {
    background-color: rgb(56, 38, 0);
 }

 
 h1{
    color:rgb(164, 140, 108);
    font-weight: bold;}

p >img {
    max-height: 50%;


}    
  
 }
 ul {
    background-color: rgb(132, 89, 173);
 }