 button {
    background-color: rgb(123, 95, 34);
 }

 .titulo {
   background-color: rgb(122, 129, 129);
 }
 h1{
    color:rgb(242, 222, 131);
    font-weight: bold;}

p >img {
    max-height: 50%;


}    
  
 }
 ul {
    background-color: rgb(132, 89, 173);
 }